/* .css-4l7j15 {
    background-color: transparent !important;
    align-items: center !important;
}

.css-epd502 {
    margin: 0 !important;
}

.PrivatePickersToolbar-root {
    background-color: #1976d2 !important;
    color: white !important;
}

.PrivatePickersToolbar-root span {
    color: white !important;
}

@media screen and (max-width: 900px) {
    .PrivatePickersToolbar-root {
        display: none !important;
    }
    .css-dtbg0r {
        display: none !important;
    }
} */